[teachua_app]
homePath = $SPLUNK_DB/teachua_app/db
coldPath = $SPLUNK_DB/teachua_app/colddb
thawedPath = $SPLUNK_DB/teachua_app/thaweddb
maxTotalDataSizeMB = 2048

[teachua_k8s]
homePath = $SPLUNK_DB/teachua_k8s/db
coldPath = $SPLUNK_DB/teachua_k8s/colddb
thawedPath = $SPLUNK_DB/teachua_k8s/thaweddb
maxTotalDataSizeMB = 2048

[teachua_infra]
homePath = $SPLUNK_DB/teachua_infra/db
coldPath = $SPLUNK_DB/teachua_infra/colddb
thawedPath = $SPLUNK_DB/teachua_infra/thaweddb
maxTotalDataSizeMB = 2048

[teachua_access]
homePath = $SPLUNK_DB/teachua_access/db
coldPath = $SPLUNK_DB/teachua_access/colddb
thawedPath = $SPLUNK_DB/teachua_access/thaweddb
maxTotalDataSizeMB = 2048